In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium.common.exceptions import NoSuchElementException
import time
from selenium import webdriver

####  Q1: Write a  program to scrape data for “Data Analyst” Job position in“Bangalore” location.

In [2]:
# defining function
def jobs_data_ana_sci(job_position, webdriver_path):
    # initializing web driver and webpage
    driver  = webdriver.Chrome(webdriver_path)
    driver.get('https://www.naukri.com/')
    # search job position and location
    driver.find_element_by_id('qsb-keyword-sugg').send_keys(job_position)
    driver.find_element_by_id('qsb-location-sugg').send_keys('Bangalore')
    driver.find_element_by_class_name('search-btn').click()
    time.sleep(3)

    # extracting 'job_title', 'company', 'location','experience' and salary for first 10 jobs
    bs= BeautifulSoup(driver.page_source, 'html.parser')
    job_info = bs.find_all('div', attrs ={'class':'jobTupleHeader'})[:10]
    job_title = [j.text for i in job_info for j in i.find_all('a','title fw500 ellipsis')]
    company = [j.text for i in job_info for j in i.find_all('a','subTitle ellipsis fleft')]
    location = [j.text for i in job_info for j in i.find_all('li','fleft grey-text br2 placeHolderLi location')]
    experience = [j.text for i in job_info for j in i.find_all('li','fleft grey-text br2 placeHolderLi experience')]
    salary = [j.find('span','ellipsis fleft fs12 lh16').get_text() for i in job_info for j in i.find_all('li','fleft grey-text br2 placeHolderLi salary')]

    # extracting job page url for each job
    jobs_url = bs.find_all('a', attrs ={'class':'title fw500 ellipsis'})
    
    # extracting job description correspounding to each job url.
    job_decr = []
    for i in jobs_url[:10]:
                driver.get(i['href'])
                bs= BeautifulSoup(driver.page_source, 'html.parser')
                try:
                    job_decr.append(bs.find('section','job-desc').text)
                except AttributeError:
                    try:
                        job_decr.append(bs.find('section','JD av_textblock_section').text.replace('\n',' '))
                    except AttributeError:
                        try:
                            job_decr.append(bs.find('div','ptb20 hLine').text.replace('\n',' '))
                        except:
                            job_decr.append('-')


    job_df = pd.DataFrame({'Job_title':job_title,
                                  'Company':company,
                                  'Location': location,
                                  'Experience':experience,
                                  'Salary': salary,
                                  'Job_description':job_decr 
                          })
    return job_df

In [3]:
# calling function 'jobs_data_ana_sci' for scraping 'Data Analyst' jobs data at 'Bangalore'
jobs_data_ana_sci(job_position = 'Data Analyst', webdriver_path = r'C:\Users\91743\chromedriver.exe')

,Job_title,Company,Location,Experience,Salary,Job_description
0,Fresher Data Engineer / Data Scientist / Data...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs,"3,50,000 - 8,50,000 PA.",Job descriptionRoles and ResponsibilitiesAnaly...
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs,"3,50,000 - 4,50,000 PA.",Job description Dear Candidate Schedule a Tel...
2,Business Data Analyst,NetApp,Bengaluru,2-3 Yrs,Not disclosed,Job Description Job Summary: Data Analys...
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,Bengaluru(Whitefield),0-5 Yrs,"50,000 - 2,00,000 PA.",Job descriptionWe are looking to hire SAS Anal...
4,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs,"3,00,000 - 6,00,000 PA.",Job description Hiring Data Analyst profile on...
5,Hiring Data Analysts,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs,"2,50,000 - 5,50,000 PA.",Job description Flipkart is looking for Data A...
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,"Bengaluru, India",3-5 Yrs,Not disclosed,Job Description Roles and ResponsibilitiesS...
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,4-8 Yrs,Not disclosed,Job Description Roles and ResponsibilitiesA...
8,Data Analyst,Cognizant Technology Solutions India Ltd,Bengaluru,3-4 Yrs,Not disclosed,Job Description Roles and ResponsibilitiesT...
9,Data Analyst,Luxoft,Bengaluru,10-12 Yrs,Not disclosed,Job description Project Description Fe...

#### Q2: Write a  program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [4]:
# calling function 'jobs_data_ana_sci' for scraping 'Data Scientist' jobs data at 'Bangalore'
jobs_data_ana_sci(job_position = 'Data Scientist', webdriver_path = r'C:\Users\91743\chromedriver.exe')

,Job_title,Company,Location,Experience,Salary,Job_description
0,Fresher Data Engineer / Data Scientist / Data...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs,"3,50,000 - 8,50,000 PA.",Job descriptionRoles and ResponsibilitiesAnaly...
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs,"3,50,000 - 4,50,000 PA.",Job description Dear Candidate Schedule a Tel...
2,Data Scientist - Python/MATLAB/Machine Learnin...,Wrackle Technologies Pvt Ltd,Bengaluru,3-8 Yrs,Not disclosed,Job descriptionRoles and ResponsibilitiesData ...
3,Lead Data Scientist - Machine Learning/Data Mi...,Wrackle Technologies Pvt Ltd,Bengaluru,6-11 Yrs,Not disclosed,Job descriptionRoles and ResponsibilitiesRequi...
4,Data Scientist - Machine Learning/Data Mining,Minions Ventures,Bengaluru,6-8 Yrs,Not disclosed,Job descriptionKey Responsibilities :- Use ana...
5,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,2-7 Yrs,Not disclosed,Job Description The Yantriks Data Science a...
6,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad",4-9 Yrs,Not disclosed,Job descriptionRoles and ResponsibilitiesSkill...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs,"7,00,000 - 15,00,000 PA.",Job descriptionRoles and Responsibilities Mus...
8,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",2-7 Yrs,"7,00,000 - 15,00,000 PA.",Job descriptionRoles and Responsibilities Mus...
9,Data Scientist - Machine Learning - Remote ...,Doji Ltd,"Delhi NCR, Bengaluru, Anywhere in India",2-5 Yrs,"15,00,000 - 20,00,000 PA.",Job descriptionPlease note that this role will...

#### Q3: Write a program to scrape job data using the filters 'Location' and 'Salary'.

In [5]:
# initializing web driver and webpage
driver  = webdriver.Chrome( r'C:\Users\91743\chromedriver.exe')
driver.get('https://www.naukri.com/')
 # search job position
driver.find_element_by_id('qsb-keyword-sugg').send_keys('Data Scientist')
driver.find_element_by_class_name('search-btn').click()
time.sleep(3)
# check location as 'Delhi/NCR' and salary as '3-6 lakhs'
driver.find_element_by_xpath('//label[@class="chkLbl" and @for = "chk-Delhi/NCR-cityType-"]/i').click()
time.sleep(3)
driver.find_element_by_xpath('//label[@class="chkLbl" and @for = "chk-3-6 Lakhs-ctcFilter-"]/i').click()
time.sleep(3)

# extracting 'job_title', 'company', 'location' and 'experience' for first 10 jobs
bs= BeautifulSoup(driver.page_source, 'html.parser')
jobs = bs.find_all('div', attrs ={'class':'jobTupleHeader'})[:10]
job_title = [j.text for i in jobs for j in i.find_all('a','title fw500 ellipsis')]
company = [j.text for i in jobs for j in i.find_all('a','subTitle ellipsis fleft')]
location = [j.get_text() for i in jobs for j in i.find_all('li','fleft grey-text br2 placeHolderLi location')]
experience = [j.get_text() for i in jobs for j in i.find_all('li','fleft grey-text br2 placeHolderLi experience')]

job_df = pd.DataFrame({'Job_title':job_title,
                       'Company':company,
                       'Location': location,
                       'Experience':experience,
                      })
job_df

,Job_title,Company,Location,Experience
0,Fresher Data Engineer / Data Scientist / Data...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs
1,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
2,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
3,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
4,Data Scientist,PureSoftware Pvt Ltd.,Gurgaon,5-9 Yrs
5,Data Scientist,World Wide Technology,Gurgaon,3-8 Yrs
6,Data Scientist,Stark Industries,Delhi,3-5 Yrs
7,Job | Opportunity For Senior Role(Data Scienti...,BA Continuum India Pvt. Ltd,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon",14-17 Yrs
8,Data Scientist For A Leading Movers & Packers ...,Myfuture Placement Consultancy,Delhi NCR,1-2 Yrs
9,Data Scientist(Hadoop/ Redshift /BigQuery),Jubna,Noida,4-6 Yrs

#### Q4: Write a  program to scrape data for first 10 job results for Data scientist Designation in Noida location.

In [6]:
# initializing web driver and webpage
driver  = webdriver.Chrome( r'C:\Users\91743\chromedriver.exe')
driver.get('https://www.glassdoor.co.in/Job/index.htm')
# search job position and location
driver.find_element_by_id('KeywordSearch').send_keys('Data Scientist')
driver.find_element_by_id('LocationSearch').clear()
driver.find_element_by_id('LocationSearch').send_keys('Noida')
driver.find_element_by_class_name('gd-btn-mkt').click()
time.sleep(3)

# extracting  'company', 'no. of days ago' and 'rating' for first 10 jobs
bs= BeautifulSoup(driver.page_source, 'html.parser')
jobs = bs.find_all('ul', attrs ={'class':'jlGrid hover p-0'})
company = [j.text for i in jobs for j in i.find_all('a','css-10l5u4p e1n63ojh0 jobLink')[:10]]
ndays_ago = [j.text for i in jobs for j in i.find_all('div','d-flex align-items-end pl-std css-mi55ob')[:10]]

ratings = []
for i in jobs:
       for j in i.find_all('div','d-flex flex-column css-fbt9gv e1rrn5ka2')[:10]:
            if j.text != '':
                ratings.append(j.text)
            else:
                ratings.append('-')
                
    
job_df = pd.DataFrame({'Company': company,
                       'Days_ago': ndays_ago,
                       'Rating': ratings})
job_df

                Company Days_ago Rating
0               Genpact       1d    3.8
1            IHS Markit       9d    4.1
2           GroundTruth      21d    3.3
3  Gauge Data Solutions      24h    3.1
4             Algoscale      24h    3.7
5  MARKTECH CONSULTANCY       6d      -
6       SearchUrCollege      24h      -
7              Techlive       7d      5
8       Priority Vendor      24h      4
9               Ank Aha      24h    4.1

#### Q5: Write a program to scrape the salary data for Data Scientist.

In [7]:
# initializing web driver and webpage
driver  = webdriver.Chrome( r'C:\Users\91743\chromedriver.exe')
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')
# search job position and location
driver.find_element_by_id('KeywordSearch').send_keys('Data Scientist')
driver.find_element_by_id('LocationSearch').clear()
driver.find_element_by_id('LocationSearch').send_keys('Noida')
driver.find_element_by_class_name('gd-btn-mkt').click()
time.sleep(3)

# extracting 'company', 'average salary','minimum salary','maximum salary' and 'no. of salaries' for first 10 jobs
bs= BeautifulSoup(driver.page_source, 'html.parser')
company = [i.text for i in driver.find_elements_by_xpath('//div[@class = "d-flex"]/div[2]/p[2]')[:10]]
avg_sal = [i.text for i in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]/strong')[:10]]
min_sal = [i.text for i in driver.find_elements_by_xpath('//div[@class= "col-3 offset-1 d-none d-md-block" ]/div/div[2]/span[1]')[:10]]
max_sal = [i.text for i in driver.find_elements_by_xpath('//div[@class= "col-3 offset-1 d-none d-md-block" ]/div/div[2]/span[2]')[:10]]
n_sal = [i.text for i in driver.find_elements_by_xpath('//p[@class= "css-1uyte9r css-1kuy7z7 m-0 "]')[:10]]

job_sal_df = pd.DataFrame({'Company': company,
                       'Mininum_salary': min_sal,
                       'Maximum_salary': max_sal,
                       'Average_salary': avg_sal,
                       'No. of salaries':n_sal})
job_sal_df

,Company,Mininum_salary,Maximum_salary,Average_salary,No. of salaries
0,Delhivery,₹445K,"₹11,495K","₹ 12,49,514",13 salaries
1,Accenture,₹571K,"₹2,200K","₹ 11,19,272",9 salaries
2,IBM,₹580K,"₹2,700K","₹ 6,88,601",8 salaries
3,Ericsson-Worldwide,₹468K,"₹1,595K","₹ 7,80,664",8 salaries
4,Valiance Solutions,₹496K,"₹1,138K","₹ 7,71,320",8 salaries
5,Tata Consultancy Services,₹360K,"₹1,000K","₹ 5,90,406",7 salaries
6,UnitedHealth Group,₹708K,"₹1,557K","₹ 13,21,601",7 salaries
7,Cognizant Technology Solutions,₹784K,"₹1,250K","₹ 9,96,446",6 salaries
8,Innovaccer,₹614K,"₹1,676K","₹ 9,27,677",6 salaries
9,OYO,₹960K,"₹1,863K","₹ 14,00,000",5 salaries

#### Q6 : Program to  scrape data of  sunglasses listings on flipkart.com.

In [8]:
# defining function
def flipkart_products(product):
    # initializing web driver and webpage
    driver  = webdriver.Chrome( r'C:\Users\91743\chromedriver.exe')
    driver.get('https://www.flipkart.com/')
    print('loading.............','\n')
    time.sleep(3)
    driver.find_element_by_xpath('/html/body/div[2]/div/div/button').click() # closing pop ups
    # seach for given product
    driver.find_element_by_class_name('_3704LK').send_keys(product)
    driver.find_element_by_class_name('L0Z3Pu').click()
    time.sleep(3)
    
    # loop to scape all product related data for each page till page 3
    brand = []
    product = []
    price = []
    discount = []
    page = 1
    end_page = 3
    nxt = driver.find_element_by_class_name('_1LKTO3')
    while page <= end_page:
        bs = BeautifulSoup(driver.page_source, 'html.parser')
        item_info = bs.find_all('div', attrs ={'class':'E2-pcE _1q8tSL'})
        for i in item_info:

            for j in i.find_all('div','_2WkVRV'):
                brand.append(j.text)

            for k in i.find_all('a','IRpwTa'):
                product.append(k.text)

            for l in i.find_all('div','_30jeq3'):
                price.append(l.text)

        for i in bs.find_all('div','_25b18c')[:40]:
            if i.find('div','_3Ay6Sb') is not None:
                discount.append(i.text[-7:])
            else:
                discount.append('-')

        print('Data extracted for page:',page,'\n')

        if page == end_page:
            break
        else:    
            nxt.click()
            print('loading.............','\n')
            time.sleep(5)
            page += 1

    glasses_df = pd.DataFrame({'Brand': brand,
                              'Product_description': product,
                              'Price': price,
                              'Discount':discount})   
    return glasses_df

In [9]:
# using user-defined function 'flipkart_products' for scraping sunglasses data
flipkart_products(product = 'sunglasses' )

loading.............

Data extracted for page: 1

loading.............

Data extracted for page: 2

loading.............

Data extracted for page: 3

,Brand,Product_description,Price,Discount
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹403,79% off
1,ROZZETTA CRAFT,"Polarized, Gradient, UV Protection Over-sized ...",₹404,88% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
3,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹188,87% off
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
...,...,...,...,...
115,Shahs collections,Polarized Round Sunglasses (50),₹99,80% off
116,Phenomenal,"Polarized, UV Protection Retro Square Sunglass...",₹269,73% off
117,dannilo,Others Round Sunglasses (Free Size),₹179,82% off
118,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
119,Polaroid,Others Round Sunglasses (49),"₹3,510",35% off

#### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [10]:
# initializing web driver and webpage
driver  = webdriver.Chrome( r'C:\Users\91743\chromedriver.exe')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
time.sleep(5)
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')
time.sleep(5)
driver.find_element_by_xpath("//nav[@class = 'yFHi8N']/a[1]").click()
time.sleep(5)
review_summary = []
rating = []
full_review = []

# loop for extracting product reviews and ratings for each page till page 10
page = 1
end_page = 10
while page <= end_page:
    bs = BeautifulSoup(driver.page_source, 'html.parser')
    review = bs.find('div','_1YokD2 _3Mn1Gg col-9-12')
    print('Data extracted for page:',page)
    for i in review:
        for j in i.find_all('p','_2-N8zT'):
            review_summary.append(j.text)
        for k in i.find_all('div','t-ZTKy'):
                 full_review.append(k.text)

    for i in driver.find_elements_by_class_name('_27M-vq'):
             rating.append(i.text[0])

    if page == 1:
        driver.find_element_by_xpath("//nav[@class = 'yFHi8N']/a[11]").click()
        
    elif  1 < page < end_page :
         driver.find_element_by_xpath("//nav[@class = 'yFHi8N']/a[12]").click()
            
    else:
        break
    time.sleep(5)
    page+= 1
            
review_df = pd.DataFrame({'Rating':rating,
                          'Review': review_summary,
                          'Full_review':full_review})
review_df

Data extracted for page: 1
Data extracted for page: 2
Data extracted for page: 3
Data extracted for page: 4
Data extracted for page: 5
Data extracted for page: 6
Data extracted for page: 7
Data extracted for page: 8
Data extracted for page: 9
Data extracted for page: 10

,Rating,Review,Full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
...,...,...,...
95,3,Nice,Iphone 11 black 64gb is really a cool phone 1....
96,3,Nice,"Although it’s an iPhone, it doesn’t give anyth..."
97,5,Just wow!,Apple i Phone is the best phone available in t...
98,5,Brilliant,use outside gives a outstanding experience ......
99,4,Delightful,Just the display held it from being a 5star ph...

#### Q8: Scrape data of  sneakers from flipkart.com.

In [11]:
# using user-defined function 'flipkart_products' for scraping sneakers data
flipkart_products(product = 'sneakers')

loading.............

Data extracted for page: 1

loading.............

Data extracted for page: 2

loading.............

Data extracted for page: 3

,Brand,Product_description,Price,Discount
0,Khadim's,Sneakers For Men,₹581,61% off
1,Bonexy,Sneakers For Men,₹379,62% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹579,70% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹224,55% off
4,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹349,65% off
...,...,...,...,...
115,Adiso,"Casual sneakers,outdoors,dancingshoes Sneakers...",₹399,60% off
116,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,65% off
117,MOU,Zar Check Sneakers Sneakers For Men,₹529,47% off
118,Claptrap,Mesh Walking Casual Sneakers Shoes for Men And...,₹426,14% off
119,Black Bottom,Fashion Outdoor Canvas Casual Light Weight Par...,₹379,62% off

#### Q9: Write a program to scrape 100 shoes data from myntra.com

In [12]:
# initializing web driver and webpage
driver  = webdriver.Chrome( r'C:\Users\91743\chromedriver.exe')
driver.get('https://www.myntra.com/shoes')
time.sleep(3)
# selecting color and price range
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()
time.sleep(3)
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()
time.sleep(3)

# loop for extracting shoe data for each page till page 2 
brand = []
product = []
price = []
page = 1
end_page = 2
while page <= end_page:
    bs = BeautifulSoup(driver.page_source, 'html.parser')
    shoe_info = bs.find_all('div', attrs ={'class':'product-productMetaInfo'})
    
    for i in shoe_info:
        brand.append(i.find('h3','product-brand').text)
        product.append(i.find('h4','product-product').text)
        price.append(i.find('div','product-price').text.split('Rs.')[1])

    if page == end_page:
        break
    else:
        driver.find_element_by_xpath('//ul[@class = "pagination-container"]/li[12]/a').click()
        time.sleep(5)
        page += 1
shoe_df = pd.DataFrame({'Brand': brand,
                       'Product_description': product,
                       'Price': price})
shoe_df

               Brand                  Product_description  Price
0   ADIDAS Originals                   Men NMD R1Sneakers   6499
1               Nike           Men AIR ZOOM Running Shoes   8396
2   ADIDAS Originals                 Men Yung- 1 Sneakers   7149
3       Kenneth Cole                Men Textured Sneakers   6013
4               Nike        PEGASUS FLYEASE Running Shoes   6496
..               ...                                  ...    ...
95      Kenneth Cole                Men Textured Sneakers   6013
96              Puma                 Unisex Running Shoes   6499
97      UNDER ARMOUR       Women HOVR Rise Training Shoes   8499
98              Geox  Women Woven Design Slip-On Sneakers   7194
99              Geox          Men Leather Formal Derbyacs   8994

[100 rows x 3 columns]

#### Q10:Write a program to srape first 10 laptop data from amazon.in for processor type i7 and i9.

In [3]:
# initializing web driver and webpage
driver  = webdriver.Chrome( r'C:\Users\91743\chromedriver.exe')
driver.get('https://www.amazon.in/')
time.sleep(3)
# search for product
driver.find_element_by_id('twotabsearchtextbox').send_keys('Laptop')
driver.find_element_by_xpath('//div[@class = "nav-search-submit nav-sprite"]/span/input').click()
time.sleep(3)

# check whether 'NoSuchElementException' occurs while selecting processor type and to handle exception if it exists.
try:
    driver.find_element_by_xpath('//li[@aria-label ="Intel Core i7"]/span/a/div/label').click()
    time.sleep(3)
    driver.find_element_by_xpath('//li[@aria-label ="Intel Core i9"]/span/a/div/label').click()
except NoSuchElementException:
    pass

# loop for extracting first 10 laptops data 
product = []
price = []
rating = []
bs= BeautifulSoup(driver.page_source, 'html.parser')
product_url = bs.find_all('a', attrs ={'class':'a-link-normal a-text-normal'})
for i in product_url[:10]:
    driver.get('https://www.amazon.in/'+i['href'])
    bs = BeautifulSoup(driver.page_source, 'html.parser')
    product.append(bs.find('span','a-size-large product-title-word-break').text.replace('\n',''))
    try:
        price.append(bs.find('span','a-size-medium a-color-price priceBlockBuyingPriceString').text.replace('\xa0',''))
    except AttributeError:
        try:
            price.append(bs.find('span','a-size-medium a-color-price priceBlockDealPriceString').text.replace('\xa0',''))
        except AttributeError:
            try:
                price.append(bs.find('span','a-size-base a-color-price').text.replace('\xa0',''))
            except AttributeError:
                price.append('-')
    try:
        rating.append(bs.find('span','a-size-medium a-color-base').text[:-9])
    except AttributeError:
        rating.append('-')
        
laptop_df = pd.DataFrame({'Product':product,
                          'Price': price,
                          'Rating': rating})
laptop_df

                                             Product         Price Rating
0  ASUS VivoBook Ultra 15 (2020) Intel Core i7-11...    ₹69,984.00    3.6
1  Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...    ₹81,990.00    3.6
2  ASUS ZenBook Flip S OLED, Intel Evo Core i7-11...  ₹1,49,990.00      -
3  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...    ₹85,990.00    4.1
4  (Renewed) HP EliteBook FOLIO 9480M Laptop (Cor...    ₹24,490.00      -
5  (Renewed) Lenovo ThinkPad High Performance 12....    ₹36,699.00    3.4
6  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    ₹95,840.00      5
7  Lenovo ThinkPad E14 Intel Core i7 10th Gen14-i...    ₹84,990.00      -
8  Asus ROG Strix G15 Core i7 10th Gen - (8 GB/51...    ₹84,990.00      -
9  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  ₹2,69,294.00    2.8